<header
  class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full bg-white border-b border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
>
  <nav
    class="relative max-w-[85rem] w-full mx-auto md:flex md:items-center md:justify-between md:gap-3 py-2 px-4 sm:px-6 lg:px-8"
  >
  <img
        class="w-10 h-10 rounded-lg"
        src="assets/favicon.ico"
        alt="BookToGo.lk"
      />
    <div class="flex justify-between items-center gap-x-1">
      
      <a
        class="flex-none font-semibold text-xl text-black focus:outline-none focus:opacity-80 dark:text-white"
        href="#"
        aria-label="Brand"
      >
        BookToGo.lk
      </a>

      <!-- Collapse Button -->
      <button
        type="button"
        class="hs-collapse-toggle md:hidden relative size-9flex justify-center items-center font-medium text-[12px] rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
        id="hs-header-base-collapse"
        aria-expanded="false"
        aria-controls="hs-header-base"
        aria-label="Toggle navigation"
        data-hs-collapse="#hs-header-base"
      >
        <!-- Collapse Icons -->
      </button>
      <!-- End Collapse Button -->
    </div>

    <!-- Collapse -->
    <div
      id="hs-header-base"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-labelledby="hs-header-base-collapse"
    >
      <div class="overflow-hidden overflow-y-auto max-h-[75vh]">
        <div
          class="py-2 md:py-0 flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1"
        >
          <div class="grow">
            <div
              class="flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1"
            >
              <a
                class="p-2 flex items-center text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                href="#"
              >
                Home
              </a>

              <a
                class="p-2 flex items-center text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                routerLink="/viewEventsOfAllVendors"
              >
                Events
              </a>

              <ng-container *ngIf="authService.isAuthenticated(); ">
                <!-- Booking History -->
                <a
                  class="p-2 flex items-center text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                  routerLink="/bookingHistory"
                >
                  Booking History
                </a>
              </ng-container>
            </div>
          </div>

          <ng-container *ngIf="authService.isAuthenticated(); else guestMenu">
            <!-- Greeting and Sign Out -->
            <p class="ml-4 text-sm text-gray-700 dark:text-neutral-200">
              Hi {{ authService.getUser() }}!
            </p>
            <a
              (click)="authService.signOut()"
              class="ml-4 py-2 px-2.5 inline-flex items-center font-medium text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700"
              routerLink="/home"
            >
              Sign out
            </a>
          </ng-container>

          <!-- Guest Menu -->
          <ng-template #guestMenu>
            <div
              class="md:ms-auto mt-2 md:mt-0 flex flex-wrap items-center gap-x-1.5"
            >
              <a
                class="py-[7px] px-2.5 inline-flex items-center font-medium text-sm rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 dark:bg-neutral-800 focus:outline-none focus:bg-gray-100 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700"
                routerLink="/login"
              >
                Sign in
              </a>
              <a
                class="py-2 px-2.5 inline-flex items-center font-medium text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700"
                routerLink="/CommonSignupPromptComponent"
              >
                Sign up
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</header>
<router-outlet />
